# Build results
bin/
obj/
out/
.DS_Store

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio
.vs/
*.sln.iml

# Rider
.idea/
*.sln.DotSettings.user

# VS Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Environment-specific configuration
appsettings.*.json
!appsettings.json
!appsettings.Development.json

# Logs
*.log

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/

# Test results
TestResults/
*.trx
*.coverage
